div#bar {
  position:fixed;
  top:0;
  left:0;
  width:100%;
  padding:20px;
  border: double 6px transparent;
  border-radius: 80px;
  background-image: linear-gradient(white, white), radial-gradient(circle at top left, #f00, #3020ff);
  background-origin: border-box;
  background-clip: content-box, border-box;
  border-shadow: 0px 3px 20px 5px lightgray;
}
